.container {
  position: relative;
}

.amount {
  position: absolute;
  bottom: -5px;
  right: -10px;
  background-color: teal;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  font-size: 32px;
}
